# editorconfig.org

# top-most EditorConfig file
root = true

# Default settings:
# A newline ending every file
# Use 4 spaces as indentation
[*]
insert_final_newline = true
indent_style = space
indent_size = 4

# Python files
[*.py]
charset = utf-8
# 4 space indentation
indent_style = space
indent_size = 4
# Trim trailing whitespace
trim_trailing_whitespace = true
# Use Unix-style newlines
end_of_line = lf

# JSON files often use 2 spaces
[*.json]
indent_style = space
indent_size = 2

# Shell scripts
[*.sh]
end_of_line = lf
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Batch files
[*.{cmd, bat}]
end_of_line = crlf
indent_style = space
indent_size = 4

# YAML files, often used for CI configurations like GitHub Actions
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Restrict Python specific updates to python files
# Pytest, coverage commands, or flake8 configurations should be updated in their respective configuration files or inline commands in CI configurations

